Repository kradalby/tasmota-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, gofmt, golangci-lint

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system

gofmt:
  name: gofmt
  entry: gofmt -w -s
  language: system

golangci-lint:
  name: golangci-lint
  entry: golangci-lint run --new-from-rev HEAD~1
  language: system
  pass_filenames: false

config: validate reset level with slices.Contains
  config.go
Due: gofmt, golangci-lint

errors: match error types with errors.AsType
  errors.go
Due: gofmt, golangci-lint

flake: use hostPlatform.system in overlay
  flake.nix
Due: nixpkgs-fmt

flake: drop x86_64-darwin from systems
  flake.nix
Due: nixpkgs-fmt

flake: describe tasmota app
  flake.nix
Due: nixpkgs-fmt

flake: update inputs
  flake.lock
Due: none

.github: bump action pins
  .github/workflows/build.yml
  .github/workflows/gc.yml
  .github/workflows/test.yml
Due: none

pre-commit: bump pre-commit-hooks to v6.0.0
  .pre-commit-config.yaml
Due: none

status: decode Status 0 Power as number or binary string
  status.go
  status_test.go
Due: gofmt, golangci-lint

client: apply WithTimeout to a copy of the HTTP client
  client.go
  client_test.go
Due: gofmt, golangci-lint

README: document StatusInfo.Power as PowerMask
  README.md
Due: none

Path conditions:
  nixpkgs-fmt: any of: \.nix$, but not: ^(examples/test-live/|vendor/)
  gofmt: any of: \.go$, but not: ^(examples/test-live/|vendor/)
  golangci-lint: any of: \.go$, but not: ^(examples/test-live/|vendor/)
