Repository kradalby/tasmota-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, gofmt, golangci-lint

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system

gofmt:
  name: gofmt
  entry: gofmt -w -s
  language: system

golangci-lint:
  name: golangci-lint
  entry: golangci-lint run --new-from-rev HEAD~1
  language: system
  pass_filenames: false

Fix status parsing errors
  status.go
Due: gofmt, golangci-lint

go: promote ff/v3 from indirect to direct require
  go.mod
Due: none

nix: update flake inputs and bump to go_1_26
  flake.lock
  flake.nix
Due: nixpkgs-fmt

go: bump go directive to 1.26
  go.mod
Due: none

flake: switch from nixos-unstable to nixpkgs-unstable
  flake.lock
  flake.nix
Due: nixpkgs-fmt

flake: use nixpkgs shorthand in input URL
  flake.lock
  flake.nix
Due: nixpkgs-fmt

ci: migrate to official Nix installer + hestia cache
  .github/workflows/build.yml
  .github/workflows/gc.yml
  .github/workflows/test.yml
Due: none

ci: disable CGO for cross-compiled example builds
  .github/workflows/build.yml
Due: none

ci: pin nix-installer and hestia actions to commit SHAs
  .github/workflows/build.yml
  .github/workflows/gc.yml
  .github/workflows/test.yml
Due: none

ci: run checks via kradalby/flake-checks
  .github/workflows/test.yml
  cmd/tasmota/info.go
  cmd/tasmota/main.go
  cmd/tasmota/mqtt.go
  cmd/tasmota/network.go
  cmd/tasmota/power.go
  cmd/tasmota/status.go
  flake.lock
  flake.nix
  power_test.go
Due: nixpkgs-fmt, gofmt, golangci-lint

deps: update flake inputs, go deps, pin action SHAs
  .github/workflows/build.yml
  .github/workflows/gc.yml
  .github/workflows/test.yml
  examples/basic/main.go
  examples/config/main.go
  examples/mqtt/main.go
  flake.lock
Due: gofmt, golangci-lint

nix: dedup flake-utils, hoist vendorHash via goBuild, add overlay
  flake.lock
  flake.nix
Due: nixpkgs-fmt

ci: add concurrency groups to build and test workflows
  .github/workflows/build.yml
  .github/workflows/test.yml
Due: none

prek: swap gofmt/nixpkgs-fmt for gated nix-build, add go test hook
  .pre-commit-config.yaml
Due: none

direnv: add .envrc and ignore .envrc.local
  .envrc
  .gitignore
Due: none

ci: bump Mic92/hestia to v1.0.2
  .github/workflows/build.yml
  .github/workflows/gc.yml
  .github/workflows/test.yml
Due: none

nix: update inputs and build with Go 1.27
  README.md
  flake.lock
  flake.nix
  go.mod
Due: nixpkgs-fmt

cmd/tasmota: group local imports last
  cmd/tasmota/main.go
  cmd/tasmota/mqtt.go
  cmd/tasmota/network.go
  cmd/tasmota/power.go
Due: gofmt, golangci-lint

all: replace interface{} with any
  commands_test.go
  config.go
  config_test.go
  power.go
  status.go
  types.go
Due: gofmt, golangci-lint

errors: match error types with errors.AsType
  errors.go
Due: gofmt, golangci-lint

all: use httptest.NewTestServer in tests
  client_test.go
  commands_test.go
  config_test.go
  mqtt_test.go
  network_test.go
  power_test.go
  status_test.go
Due: gofmt, golangci-lint

status: fetch status sections with a generic method
  status.go
  status_test.go
Due: gofmt, golangci-lint

config: validate reset level with slices.Contains
  config.go
Due: gofmt, golangci-lint

client: report client timeouts as timeout errors
  client.go
  client_test.go
Due: gofmt, golangci-lint

nix: adopt nixfmt via flake-checks bump
  flake.lock
  flake.nix
Due: nixpkgs-fmt

nix: point devShell at nixfmt
  flake.nix
Due: nixpkgs-fmt

Path conditions:
  nixpkgs-fmt: any of: \.nix$, but not: ^(examples/test-live/|vendor/)
  gofmt: any of: \.go$, but not: ^(examples/test-live/|vendor/)
  golangci-lint: any of: \.go$, but not: ^(examples/test-live/|vendor/)
